ENV_DUNE_API_KEY=
ENV_BSC_SCAN_API_KEY=
ENV_BSC_RPC_URL=https://bsc-dataseed.bnbchain.org
ENV_BSC_SCAN_API_URL=https://api.bscscan.com/api
ENV_BSC_RPC_CHAIN_ID=56
ENV_PROVER_URL=localhost:33247
ENV_BREVIS_SERVICE_URL=appsdkv2.brevis.network:9094
ENV_APP_CONTRACT_ADDRESS=0x26D9AFB34eE9D1e860607f1D4c06d6Fc8E66d67E